<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="navbar">
  <a routerLink="/homepage">Dashboard</a>
  <!-- <a routerLink="/profile">Profile</a> -->
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
    </div>
  </div> 
  <div class='logout'>
  <a routerLink="/mainpage">Logout</a>
</div>
</div>

<div class="container">
  <a routerLink="/programLang"><img class="b_btn" src="assets\images\b_nav.png"/></a>
</div>
  <h1>&nbsp;<b><u>Learn CPP</u></b></h1>
  <p>&emsp;C++ is an intermediate level language, as it comprises a confirmation of both high level and low level<br>&nbsp;language features.</p>
  <p>&emsp;C++ is a statically typed, free form, multiparadigm, compiled general-purpose language.</p>
  <p>&emsp;It has imperative, object-oriented and generic programming features and it runs on lots of platform like<br>&nbsp; Windows, Linux, Unix, Mac etc.</p>

  <img  class="image4" src="\assets\images\cpppic.jpg" style = "width:300px"/>
  <!--<ol>
    <h2><li><a routerLink = "/homepage">Introduction</a></li></h2>
    <h2><li><a routerLink = "/homepage">Conditional Statements, Loops & Functions</a></li></h2>
    <h2><li><a routerLink = "/homepage">More Topics</a></li></h2>
</ol>-->
<br>


  <div class="w3-container" style="width: 300px;">  
    <div class="w3-bar-block w3-light-grey">
      <!-- <pdf-viewer [src]="\assets\documents\python_f.pdf#page=2"></pdf-viewer> -->
      <a href="\assets\documents\Cpp_f.pdf#page=2" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Introduction</a>
      <a href="\assets\documents\Cpp_f.pdf#page=3" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Syntax</a>
      <a href="\assets\documents\Cpp_f.pdf#page=4" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Comments</a>
      <div class="dropdown">
        <button class="w3-bar-item w3-button w3-hover-blue">Variables <i class="arrow down"></i></button>
        <div class="dropdown-content">
          <a href="\assets\documents\Cpp_f.pdf#page=5" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Declaration</a>
          <a href="\assets\documents\Cpp_f.pdf#page=6" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Identifiers</a>
          <a href="\assets\documents\Cpp_f.pdf#page=7" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Constants</a>
        </div>
      </div>
      <a href="\assets\documents\Cpp_f.pdf#page=8" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Data Types</a>
      <a href="\assets\documents\Cpp_f.pdf#page=10" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Operators</a>
      <a href="\assets\documents\Cpp_f.pdf#page=13" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Conditions</a>
      <a href="\assets\documents\Cpp_f.pdf#page=15" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Loops</a>
      <a href="\assets\documents\Cpp_f.pdf#page=17" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Arrays</a>
      <div class="dropdown">
        <button class="w3-bar-item w3-button w3-hover-blue">C++ OOPS <i class="arrow down"></i></button>
        <div class="dropdown-content">
          <a href="\assets\documents\Cpp_f.pdf#page=23" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Class</a>
          <a href="\assets\documents\Cpp_f.pdf#page=24" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Object</a>
          <a href="\assets\documents\Cpp_f.pdf#page=25" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Encapsulation</a>
          <a href="\assets\documents\Cpp_f.pdf#page=26" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Abstraction</a>
          <a href="\assets\documents\Cpp_f.pdf#page=27" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Polymorphism</a>
          <a href="\assets\documents\Cpp_f.pdf#page=28" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Inheritance</a>
        </div>
      </div>
      <a href="\assets\documents\Cpp_f.pdf#page=19" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Structures</a>
      <a href="\assets\documents\Cpp_f.pdf#page=21" target="_blank" title="LearningVerse" class="w3-bar-item w3-button w3-hover-blue">Functions</a>
    </div>
  </div>
<br>
<form #cppForm="ngForm" (ngSubmit)="cppAddComment(cppForm.value)">
  &nbsp;&nbsp;<label><b>Comments:</b></label><br>
  <!-- <input type="text" ngModel name="comment" #comment=ngModel placeholder="Add your Comment here" class="form-control"> -->
  &nbsp;&nbsp;<textarea ngModel name="comment" #comment=ngModel placeholder="Add your Comment here" class="form-control" required minlength="10"></textarea><br>
  &nbsp;&nbsp;&nbsp;<button type="submit" class="btn" >Add</button><br>
</form>
<br>
&nbsp;&nbsp;<button (click)="cppShowComments()" class="btn">Show Comments</button>
<br><br>
<div *ngFor="let com of allCpp_comments">
  &nbsp;&nbsp;<b>{{com.email}}</b>
  &nbsp;&nbsp;<div class="container">
    &nbsp;&nbsp; {{com.comment}} 
  </div>
</div>