<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <!-- <a routerLink="/profile">Profile</a> -->
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
        <a routerLink="/interview">Interview preparation</a>
        <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class='logout'>
    <a routerLink="/mainpage">Logout</a>
  </div>
  </div>
  <div class="parent">
    <img  class="image" src="assets\images\wp_n5.png"/>
    <div class="container">
      <a routerLink="/homepage"><img class="b_btn" src="assets\images\b_nav.png"/></a>
    </div>
    <div class = "container">

    <a routerLink ="/python"><img class="image1" src="assets\images\pypic2.png" style="width:250px"/></a>
    </div>
    <div class = "container">
    <a routerLink ="/cpp"><img class = "image2" src="assets\images\cpppic1.png" style="width:250px"/></a>
    
    </div>
    <div class = "container">
      <a routerLink ="/c"><img class = "image3" src="assets\images\cpic1.png" style="width:250px"/></a>
     </div>
    <div class = "container">
      <a routerLink ="/java"><img class = "image4" src="assets\images\javapic1.png" style="width:250px"/></a>
    </div>
    <div class = "container">
      <a routerLink ="/html"><img class = "image5" src="assets\images\htmlpic1.png" style="width:250px"/></a>
    </div>
    </div>
