<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/login">Logout</a>
    </div>
  </div>
  <div class="container">
    <a routerLink="/cpp"><img class="b_btn" src="assets\images\b_nav.png"/></a>
  </div>
  <embed src="\assets\documents\Cpp_intro.pdf" width="1145px" height="2100px" />